{var xlist = data}
{if xlist.length === 1}
/* 当前只有1张图片输出 */
{elseif xlist.length > 1}
/* 当前有多张图片输出 */
{else}
/* 当前没有图片输出 */
{/if}

{list xlist as item}
.u-${item.name}-${item.ext} \{
	background: url(${item.path});
	background-size: ${item.width}px ${item.height}px;
}
	{var ilist = item.items}
	{list ilist as iitem}
		.u-${iitem.name}-${iitem.ext} \{
			background-position: ${iitem.x}px ${iitem.y}px;
		}
	{/list}
{/list}